@media only screen and (min-width: 390px) {
    body {
      min-width: 550px;
    }
}

html {
    background-color: #1a2c38;
}

body {
    min-width: 390px;
    height: 100%;
    background-color: #1a2c38;
    font-family: 'Roboto', sans-serif;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

p {
    font-family: 'Roboto', sans-serif;
}

span {
    font-size: 11px;
    color: #cbcbcb;
    margin-right: 5px;
    font-family: 'Roboto', sans-serif;
}

b {
    font-size: 14px;
    color: #ececec; 
    font-family: 'Roboto', sans-serif;
}

.image img {
    width: 90px;
    height: 140px;
    object-fit: cover;
    border-radius: 25px;
    opacity: .8;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    margin-right: 12px;
}

.image4 img {
    width: 136px;
    height: 140px;
    object-fit: cover;
    border-radius: 25px;
    opacity: .8;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    margin-top: 7px;
    margin-right: 10px;
    margin-left: 10px;
}

.image2 img {
    width: 305px;
    height: 100px;
    object-fit: cover;
    border-radius: 25px;
    opacity: .8;
    margin-top: 9px;
    margin-bottom: 1px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
}


.image6 img {
    width: 305px;
    height: 100px;
    object-fit: cover;
    border-radius: 25px;
    opacity: .8;
    margin-top: 9px;
    margin-bottom: 1px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
}

.container {
    width: 380px;
    height: 700px;
    margin: 0;
    padding: 0;
    background-color: #1a2c38;
    font-family: 'Roboto', sans-serif;
}

.image3 img {
    width: 160px;
    height: 160px;
    margin-right: 10px;
    margin-left: 10px;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, .8), 6px 6px 1px rgba(0, 0, 0, .6), 9px 9px 9px rgba(0, 0, 0, .8);
}

.image5 img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 25px;
    opacity: .8;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    margin-right: 12px;
}

.card {
    width: 380px;
    height: 260px;
    background-color: #0f212e;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    transition: .5s ease-in-out;
    margin-bottom: 35px;
    font-family: 'Roboto', sans-serif;
}

.card:hover {
    border-radius: 93% 7% 92% 8% / 11% 90% 10% 89%;
}

.card .card-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
}

.card2{
    width: 380px;
    height: 324px;
    background-color: #0f212e;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    transition: .5s ease-in-out;
    margin-bottom: 35px;
    font-family: 'Roboto', sans-serif;
}

.card2:hover {
    border-radius: 93% 7% 92% 8% / 11% 90% 10% 89%;
}

.card2 .card-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
}

.card22{
    width: 380px;
    height: 340px;
    background-color: #0f212e;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    transition: .5s ease-in-out;
    margin-bottom: 35px;
    font-family: 'Roboto', sans-serif;
}

.card22:hover {
    border-radius: 93% 7% 92% 8% / 11% 90% 10% 89%;
}

.card22 .card-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
}

.card3{
    width: 380px;
    height: 145px;
    background-color: #0f212e;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    transition: .5s ease-in-out;
    margin-bottom: 25px;
    margin-top: 8px;
    font-family: 'Roboto', sans-serif;
}

.card3:hover {
    border-radius: 93% 7% 92% 8% / 11% 90% 10% 89%;
}

.card3 .card-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
}

.card5{
    width: 380px;
    height: 210px;
    background-color: #0f212e;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    transition: .5s ease-in-out;
    margin-bottom: 25px;
    margin-top: 8px;
    font-family: 'Roboto', sans-serif;
}

.card5:hover {
    border-radius: 93% 7% 92% 8% / 11% 90% 10% 89%;
}

.card5 .card-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
}

.text3 {
    float: left;
    margin-right: 15px;
    color: #262626;
    font-family: 'Roboto', sans-serif;
}

.btn-primary {
    position: relative;
    padding: 0;
    background: #2f4553;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 13px;
    color: #ececec;
    font-weight: 500;
    opacity: .75;
    margin-top: 18px;
    margin-bottom: 5px;
    margin-right: 10px;
    height: 50px;
    width: 155px;
    font-family: 'Roboto', sans-serif;
}

.btn-secondary {
    position: relative;
    padding: 0;
    background: #071824;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 13px;
    color: #4a9ef2;
    font-weight: 500;
    opacity: .75;
    margin-top: 18px;
    margin-bottom: 5px;
    height: 50px;
    width: 140px;
    font-family: 'Roboto', sans-serif;
}

.btn-primary2 {
    position: relative;
    padding: 0;
    background: #2f4553;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 13px;
    color: #ececec;
    font-weight: 500;
    opacity: .75;
    margin-top: 18px;
    margin-bottom: 5px;
    margin-right: 10px;
    height: 50px;
    width: 135px;
    font-family: 'Roboto', sans-serif;
}

.btn-primary1 {
    position: relative;
    padding: 0;
    background: #2f4553;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 13px;
    color: #ececec;
    font-weight: 500;
    opacity: .75;
    margin-top: 18px;
    margin-bottom: 5px;
    margin-right: 10px;
    height: 50px;
    width: 155px;
    font-family: 'Roboto', sans-serif;
}

.btn-secondary2 {
    position: relative;
    padding: 0;
    background: #071824;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 13px;
    color: #4a9ef2;
    font-weight: 500;
    opacity: .75;
    margin-top: 18px;
    margin-bottom: 5px;
    height: 50px;
    width: 140px;
    font-family: 'Roboto', sans-serif;
}

.btn-third {
    position: relative;
    padding: 0;
    background: #071824;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 13px;
    color: #4a9ef2;
    font-weight: 500;
    opacity: .75;
    margin-top: 18px;
    margin-bottom: 5px;
    height: 50px;
    width: 160px;
    font-family: 'Roboto', sans-serif;
}

.btn-third3 {
    position: relative;
    padding: 16px 35px;
    background: #071824;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 13px;
    color: #4a9ef2;
    font-weight: 500;
    opacity: .75;
    margin-top: 15px;
    margin-bottom: 3px;
    font-family: 'Roboto', sans-serif;
}

.btn-four {
    position: relative;
    padding: 0;
    background: #2f4553;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 13px;
    color: #ececec;
    font-weight: 500;
    opacity: .75;
    margin-top: 18px;
    margin-bottom: 5px;
    height: 50px;
    width: 307px;
    font-family: 'Roboto', sans-serif;
}

.btn-five {
    position: relative;
    padding: 0;
    background: #2f4553;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 13px;
    color: #ececec;
    font-weight: 500;
    opacity: .75;
    margin-top: 18px;
    margin-bottom: 5px;
    height: 50px;
    width: 307px;
    font-family: 'Roboto', sans-serif;
}

.btn-six {
    position: relative;
    padding: 0;
    background: #2f4553;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 13px;
    color: #ececec;
    font-weight: 500;
    opacity: .75;
    margin-top: 18px;
    margin-bottom: 5px;
    height: 50px;
    width: 307px;
    font-family: 'Roboto', sans-serif;
}

.btn-seven {
    position: relative;
    padding: 0;
    background: #2f4553;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 13px;
    color: #ececec;
    font-weight: 500;
    opacity: .75;
    margin-top: 18px;
    margin-bottom: 5px;
    height: 50px;
    width: 307px;
    font-family: 'Roboto', sans-serif;
}


.btn-eight {
    position: relative;
    padding: 0;
    background: #2f4553;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 13px;
    color: #ececec;
    font-weight: 500;
    opacity: .75;
    font-family: 'Roboto', sans-serif;
    height: 50px; /* высота кнопки задается здесь для того, чтобы изображение занимало всю площадь кнопки без отступов */
    width: 115px;  /* ширина кнопки задается здесь для того, чтобы текст был под кнопкой исходя из ширины */
}

.btn-eight1 {
    position: relative;
    display: flex; 
    justify-content: center; /* содержимое выравнивается по горизонтали по центру блока*/
    align-items: center; /* содержимое выравнивается по вертикали по центру блока*/
    padding: 0;
    background: #071824;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 13px;
    color: #4a9ef2;
    font-weight: 500;
    opacity: .75;
    font-family: 'Roboto', sans-serif;
    margin-right: 127px;
    height: 50px; /* высота кнопки задается здесь для того, чтобы изображение занимало всю площадь кнопки без отступов */
    width: 135px;  /* ширина кнопки задается здесь для того, чтобы текст был под кнопкой исходя из ширины */
}

.btn-eight2 {
    position: relative;
    display: flex; /* блок настраивается как флекс-контейнер */
    justify-content: center; /* содержимое выравнивается по горизонтали по центру блока*/
    align-items: center; /* содержимое выравнивается по вертикали по центру блока*/
    padding: 0;
    background: #2f4553;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 13px;
    color: #ececec;
    font-weight: 500;
    opacity: .75;
    font-family: 'Roboto', sans-serif;
    height: 50px; /* высота кнопки задается здесь для того, чтобы изображение занимало всю площадь кнопки без отступов */
    width: 115px;  /* ширина кнопки задается здесь для того, чтобы текст был под кнопкой исходя из ширины */
}

.fixed-button {
    position: fixed;
    bottom: 20px;
    left: 10px;
    z-index: 999;
}

.fixed-button1 {
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 999;
  }

.btn-nine {
    position: relative;
    padding: 16px 35px;
    background: #071824;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 13px;
    color: #4a9ef2;
    font-weight: 500;
    opacity: .75;
    margin-top: 3px;
    margin-bottom: 3px;
    font-family: 'Roboto', sans-serif;
}

.btn-ten {
    position: relative;
    padding: 16px 35px;
    background: #071824;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 13px;
    color: #4a9ef2;
    font-weight: 500;
    opacity: .75;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
}